select {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #333333bb;
    border: 2px solid #333333bb;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}
