.pagination {
    padding: 20px 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination button {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.pagination .prev svg,
.pagination .next svg {
    width: 42px;
    height: 42px;
}
.pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    align-items: center;
    padding: 0;
    font-size: 1rem;
}
.pagination ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #000000;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 3px 2px;
    background: white;
    width: 42px;
    height: 42px;
}
.pagination ul li.active {
    background: cadetblue;
    color: #fff;
}
